<p>driver-profile works!</p>
<div class="container" *ngIf="!loading && driver">
    <div class="card p-4 shadow rounded-3">
      <div class="d-flex align-items-center gap-3">
        <img [src]="driver.driverPhoto" class="rounded-circle" width="100" height="100" alt="Driver Photo" />
        <div>
          <h4>{{ driver.name }}</h4>
          <p class="text-muted mb-0">Email: {{ driver.email }}</p>
          <p class="text-muted mb-0">Phone: {{ driver.phoneNo }}</p>
        </div>
      </div>
  
      <hr />
  
      <div class="row mt-3">
        <div class="col-md-6">
          <p><strong>License Number:</strong> {{ driver.licenseNumber }}</p>
          <p><strong>Vehicle Type:</strong> {{ driver.vehicleType }}</p>
          <label class="form-label mt-2"><strong>Availability Status</strong></label>
          <select class="form-select" [(ngModel)]="driver.availabilityStatus" (change)="updateStatus()">
            <option value="active">✅ Active</option>
            <option value="busy">🔴 Busy</option>
            <option value="offline">⚫ Offline</option>
          </select>
  
          <div *ngIf="statusMessage" class="mt-2 text-success fw-semibold">
            {{ statusMessage }}
          </div>
        </div>
        <div class="col-md-6">
          <p><strong>Approved:</strong> {{ driver.isApproved ? '✅ Yes' : '❌ No' }}</p>
          <p><strong>Total Earnings:</strong> ₹{{ driver.earnings }}</p>
          <p><strong>Assigned Trips:</strong> {{ driver.assignedTrips.length }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="loading" class="text-center mt-5">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  