<section class="hero">
  
    <div class="hero-section">
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/sliders2.webp" class="d-block w-100" type="image/webp" alt="Rental Location" loading="lazy">
            </div>
            <div class="carousel-item">
              <img src="assets/images/sliders1.webp" class="d-block w-100" type="image/webp" alt="Rental Location" loading="lazy">
            </div>
            <div class="carousel-item">
              <img src="assets/images/sliders3.webp" class="d-block w-100" type="image/webp" alt="Rental Location" loading="lazy">
            </div>
            <div class="carousel-item">
              <img src="assets/images/sliders4.webp" class="d-block w-100" type="image/webp" alt="Rental Location" loading="lazy">
            </div>
            <div class="carousel-item">
              <img src="assets/images/slider-2.png" class="d-block w-100" type="image/webp" alt="Rental Location" loading="lazy">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div> 

        <div class="search-bar-container">
            <app-search-bar></app-search-bar>
          </div>

    </div>
       
</section>
