<div class="search-bar">
    
    <div class="search-input">
        <label for="location">Location</label>
        <input type="text" id="location" placeholder="Enter city or location..." class="form-control">
    </div>
    <div class="search-date">
        <label for="pickupDate">Pickup Date</label>
        <input type="date" id="pickupDate" class="form-control" placeholder="Pickup Date">
    </div>
    <div class="search-date">
        <label for="returnDate">Return Date</label>
        <input type="date" id="returnDate" class="form-control" placeholder="Return Date">
    </div>
    <button class="btn btn-primary">
        <i class="fas fa-search"></i> Search
    </button>
</div>
